# Cloudflare API Token.
# Required. Must have DNS edit permission for every Cloudflare zone referenced in the config file.
ACMELIA__CLOUDFLARE_API_TOKEN=xxx

# Port the acmeproxy HTTP server listens on.
# Optional. Defaults to 3000
PORT=3000

# Host/interface the acmeproxy HTTP server binds to.
# Optional. Defaults to 0.0.0.0
HOST=0.0.0.0

# Minimum severity for application logs.
# Optional. Defaults to info
# Valid values are: SILLY, TRACE, DEBUG, INFO, WARN, ERROR, FATAL
LOG_LEVEL=info
